
body {
  background-color: #f3f4f6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  padding: 16px;
  width: 320px;
}


h3 {
  font-size: 1.125rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 16px;
}


input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background-color: #ffffff;
  color: #1f2937;
  outline: none;
}

input:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}


.flex {
  display: flex;
  gap: 8px;
}


button {
  padding: 8px 16px;
  border-radius: 6px;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out;
  border: none;
  cursor: pointer;
}


#connect, #addDomain {
  background-color: #2563eb;
}

#connect:hover, #addDomain:hover {
  background-color: #1d4ed8;
}

#options {
   background-color: #26e015;
}
#options:hover {
   background-color: #22bb14;
}

#disconnect, .bg-red {
  background-color: #dc2626;
}

#disconnect:hover ,.bg-red:hover{
  background-color: #b91c1c;
}


#reset {
  background-color: #6b7280;
}

#reset:hover {
  background-color: #4b5563;
}


#status {
  margin-top: 16px;
  font-size: 0.875rem;
  color: #4b5563;
}


.hidden {
  display: none;
}
